<div class="row">
    <%= render 'book', book: @book, user: @user %>


<div class="col-md-8 offset-md-1">
  <h1>Book detail</h1>


  <table class="table">
    <tr>
      <td>
        <%= link_to user_path(@bookshow) do %><%= image_tag @bookshow.user.get_image(100,100) %><br><%= @bookshow.user.name %><% end %>
      </td>
      <td>
        <%= link_to @bookshow.title, book_path(@bookshow.id) %>
      </td>
      <td>
        <%= @bookshow.body %>
      </td>


        <% if @bookshow.user == current_user %>
      <td>
        <%= link_to "Edit", edit_book_path(@bookshow.id), class: "btn btn-success"%>
      </td>
      <td>
        <%= link_to "Destroy", book_path(@bookshow.id), method: :delete, class: "btn btn-danger"%>
      </td>
        <% end %>
    </tr>
  </table>
</div>
</div>